/*header-styles*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: #171817;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav a{
    font-size: 17px;
    color:white;
    margin-left: 2.5rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

a .active,a:hover{
    background: rgb(79, 52, 52);
    transition: .5s;
    color: white;
    
}
.logo {
    font-size: 1.8rem;
    flex: 1;
    display: flex;
    align-items: center;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: white;
}

.logo a:hover{
    background-color: lightgray;
}

.logo img{
    width: 40px;
    margin-left: 0px 15px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
}
.toggle{
    display: none;
    font-size: 30px;
}

/*BREAKPOINTS*/
@media screen and (max-width: 600px){
    nav{
        display: block;
        position: fixed;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 10px;
        right: 25px;
    }
}
/*Header*/